Source: ngcp-prosody-modules
Section: net
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://sipwise.com/

Package: ngcp-prosody-modules
Architecture: amd64
Depends: lua-dbi-mysql,
         lua-dbi-common,
         lua-sec,
         lua-rex-pcre,
         lua-bitop,
         ${misc:Depends}, ${shlibs:Depends}
Description: ngcp modules for the prosody Jabber/XMPP server
 This package provides modules for the Prosody Jabber/XMPP server
 Prosody, especially for usage with the Sipwise Next Generation
 Communication Platform.
 .
 The following modules are available:
 .
  * mod_auth_sql.lua: simple SQL Authentication module
  * mod_sipwise_vcard_cusax.lua: return a vcard containing SIP URIs
    for phone/video of the requested user
  * mod_sipwise_vhosts_sql.lua: load vhosts from DB on startup of
    Prosody XMPP server
  * mod_sipwise_vjud.lua: implement Jabber Search with implicit number
    normalization using the NGCP rewrite rules
  * mod_sipwise_groups.lua: inserts PBX groups to the user contact list
  * mod_websocket.lua: XMPP over websocket, (c) 2012 Florian Zeitz
