Source: ngcp-prosody-modules
Section: net
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.9.6
Homepage: http://sipwise.com/

Package: ngcp-prosody-modules
Architecture: amd64
Pre-Depends: ngcp-system-tools
Depends: lua-bitop,
         lua-dbi-common,
         lua-dbi-mysql,
         lua-redis,
         lua-rex-pcre,
         lua-sec,
         ${misc:Depends},
         ${shlibs:Depends}
Description: ngcp modules for the prosody Jabber/XMPP server
 This package provides modules for the Prosody Jabber/XMPP server
 Prosody, especially for usage with the Sipwise Next Generation
 Communication Platform.
 .
 The following modules are available:
 .
  * mod_auth_sql.lua: simple SQL Authentication module
  * mod_sipwise_vcard_cusax.lua: return a vcard containing SIP URIs
    for phone/video of the requested user
  * mod_sipwise_vhosts_sql.lua: load vhosts from DB on startup of
    Prosody XMPP server
  * mod_sipwise_vjud.lua: implement Jabber Search with implicit number
    normalization using the NGCP rewrite rules
  * mod_sipwise_groups.lua: inserts PBX groups to the user contact list
  * mod_sipwise_admin_telnet: admin_telnet with inteface selection
  * mod_sipwise_redis_sessions: keep server's session info on redis
  * mod_sipwise_pushd: push notification to mobile users
  * mod_log_auth: logs IP address in a failed authentication attempt
